<html>
 <head>
    <link rel="stylesheet" href="\stylesheets\style.css"/>
    <link rel="stylesheet" href="\stylesheets\bulma.css"/>


  </head>
  <body id="body">
   <nav class="navbar is-success" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item active" href="\">
        Start a conf
      </a>

      <a class="navbar-item" href="\testdu">
        Test a DU
      </a>
    </div>
  </div>
</nav>
<div class="container">
    <div class="columns is-vcentered">
        <div class="column is-two-thirds">
            <h1 class="is-size-2">Filled Configuration</h1>
        </div>
    </div>
    <!--{{resultString}}-->
    <div class="conf-id columns is-multiline">
        <div class="column is-one-fifth has-text-centered">
            <p class="is-size-4">ID : </p>
        </div>
        <div class="column is-four-fifths is-nested">
            <p class="is-size-7 overflow-wrap-anywhere">{{result.id}}</p>
        </div>
        {{#result.isComplete}}
            <div class="column is-nested">
            <p class="is-size-4 has-text-success">Complete</p>
        </div>
        {{/result.isComplete}}
        {{^result.isComplete}}
        <div class="column is-nested">
            <p class="is-size-4 ">Incomplete</p>
        </div>
        {{/result.isComplete}}
        
    </div>
    
    {{#result.characteristicGroups}}
    <div class="columns is-multiline">
        {{#isVisible}}
        <div class="column is-full">
        <p class="groupName is-size-5">
            {{name}} 
            <span class="is-size-6"> - {{characteristics.length}} characteristics</span> 
        </p>
        </div>
        <div class="column is-offset-1 is-11">
            {{#characteristics}}
                {{#isVisible}}
                   <div class="columns is-full is-vcentered">
                    <div class="column is-one-quarter">
                        <p class="charName">{{name}}</p>
                        {{#isRequired}}
                            <i class="fa fa-asterisk"></i>
                        {{/isRequired}}
                    </div>
                    <div class="columns is-three-quarters is-multiline">
                    {{#values}}
                        {{#isAssigned}}
                        <div class="column is-narrow">
                        <p class="charValue has-text-success has-text-weight-medium">{{value}}</p>
                        </div>
                        {{/isAssigned}}
                        {{#isDefault}}
                        <div class="column is-narrow">
                        <p class="charValue isDefault">{{value}}</p>
                         </div>
                        {{/isDefault}}
                        {{^isAssigned}}
                            {{^isDefault}}
                                <div class="column is-narrow">
                                <p class="charValue">{{value}}</p>
                                </div>
                            {{/isDefault}}
                        {{/isAssigned}}
                    {{/values}}
                    </div>
                 </div>
                {{/isVisible}}
            {{/characteristics}}
            </div>
        {{/isVisible}}
        <!--{{^isVisible}}
        {{name}}
        {{/isVisible}}-->
        </div>
    {{/result.characteristicGroups}}
    </div>
    </body>
    </html>