<html>
 <head>
    <link rel="stylesheet" href="\stylesheets\style.css"/>
    <link rel="stylesheet" href="\stylesheets\bulma.css"/>
    <script src="https://use.fontawesome.com/44ca580a36.js"></script>
  </head>
  <body>
  <div class="filter" id="loader">
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
  </div>
  <nav class="navbar is-success" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item active" href="\">
        Start a conf
      </a>

      <a class="navbar-item" href="\testdu">
        Test a DU
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <h1 class="is-size-4">List of available DUs for PB MV</h1>
    <h1 class="is-size-6">Choose an offer and select the DU you want to configure.</h1>
    <div class="columns is-multiline" id="dusByOffer">
      <form action="/startConf" type="get">
        <div class="control radio-list">
          {{#dus}}
            <div class="column is-full has-margin-top-24">
              <div class="offer-group">
                <span class="has-text-weight-medium is-size-4 offer-name"><i class="fa fa-arrow-circle-right"></i> {{name}}</span>
                <span>{{dus.length}}</span>
                <div class="offer-dus" id="{{name}}-dus">
                {{#dus}}
                  <label class="radio">
                    <input type="radio" name="duChoice" value="{{kb_id}}&{{country}}&{{language}}">
                    {{kb_id}} - {{desc}} - {{country}} - {{language}}
                  </label>
                {{/dus}}
                </div>
              </div>
            </div>
          {{/dus}}
        </div>
        <div class="field is-grouped" id="startConf">
          <div class="control">
            <button class="button is-success" type='submit' onclick="startLoader()">Start a configuration</button>
          </div>
        </div> 
      </form>
    </div>

      <script>
        var offers = document.querySelectorAll(".offer-name");
        offers.forEach(function (element) {
          element.addEventListener("click",function(event) {
            var idDusList = (event.target.innerText+'-dus').trim();
            var dusList = document.getElementById(idDusList);
            if (dusList.style.display === "none" || dusList.style.display === ""){
              dusList.style.display = "block";
            }else{
              dusList.style.display = "none";
            }           
          });
        });
       
      function startLoader(){
        document.getElementById("loader").style.display = "block";
      }
        
      </script>
</body>
</html>