<html>
 <head>
    <link rel="stylesheet" href="\stylesheets\style.css"/>
    <link rel="stylesheet" href="\stylesheets\bulma.css"/>
    <script src="https://use.fontawesome.com/44ca580a36.js"></script>


  </head>
  <body id="body">
   <div class="filter" id="loader">
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
  </div>
  <nav class="navbar is-success" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item active" href="\">
        Start a conf
      </a>

      <a class="navbar-item" href="\testdu">
        Test a DU
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="columns is-vcentered has-margin-top-24">
        <div class="column is-two-thirds">
            <h1 class="is-size-3">Configuration of {{result.kbId}}</h1>
        </div>
        <div class="column is-one-third">
            <form action="/fillConf" method="post">
                <input type="hidden" name="conf" value="{{resultString}}" >
                <button class="button is-link" type="submit" name="first" value="true" onClick='startLoader()'>Auto-Select First</button>
                <button class="button is-info" type="submit" name="first" value="false" onClick='startLoader()'>Auto-Select Random</button>
            </form>
        </div>
    </div>
    <!--{{resultString}}-->
        <div class="conf-details columns is-vcentered">
            <div class="column is-one-fifth has-text-centered">
                <p class="is-size-6">ID : </p>
            </div>
            <div class="column is-four-fifths is-nested">
                <p class="is-size-7 overflow-wrap-anywhere">{{result.id}}</p>
            </div>
        </div>
        <div class="conf-details columns is-vcentered">
            <div class="column is-one-fourth has-text-centered">
                <p class="is-size-6">Country : </p>
            </div>
            <div class="column is-one-fourth is-nested">
                <p class="is-size-4 overflow-wrap-anywhere">{{result.country}}</p>
            </div>
            <div class="column is-one-fourth has-text-centered">
                <p class="is-size-6">Language : </p>
            </div>
            <div class="column is-one-fourth is-nested">
                <p class="is-size-4 overflow-wrap-anywhere">{{result.kbLang}}</p>
            </div>
        </div>
        <div class="conf-details columns is-centered">
            <div class="column is-half has-text-centered">
                {{#result.isComplete}}
                    <p class="is-size-4 has-text-success">Complete</p>
                {{/result.isComplete}}
                {{^result.isComplete}}
                    <p class="is-size-4 ">Incomplete</p>
                {{/result.isComplete}}
            </div>
        </div>
    
    {{#result.characteristicGroups}}
    <div class="columns is-multiline">
        {{#isVisible}}
        <div class="column is-full">
        <p class="groupName is-size-5">
            {{name}} 
            <span class="is-size-6"> - {{characteristics.length}} characteristics</span> 
        </p>
        </div>
        <div class="column is-offset-1 is-11">
            {{#characteristics}}
                {{#isVisible}}
                   <div class="columns is-full is-vcentered">
                    <div class="column is-one-quarter">
                        <span class="charName">{{name}}</span>
                        {{#isRequired}}
                            <i class="fa fa-asterisk is-size-7"></i>
                        {{/isRequired}}
                    </div>
                    <div class="columns is-three-quarters is-multiline">
                    {{#values}}
                        {{#isAssigned}}
                        <div class="column is-narrow">
                        <p class="charValue has-text-success has-text-weight-medium">{{value}}</p>
                        </div>
                        {{/isAssigned}}
                        {{#isDefault}}
                        <div class="column is-narrow">
                        <p class="charValue isDefault">{{value}}</p>
                         </div>
                        {{/isDefault}}
                        {{^isAssigned}}
                            {{^isDefault}}
                                <div class="column is-narrow">
                                <p class="charValue">{{value}}</p>
                                </div>
                            {{/isDefault}}
                        {{/isAssigned}}
                    {{/values}}
                    </div>
                 </div>
                {{/isVisible}}
            {{/characteristics}}
            </div>
        {{/isVisible}}
        <!--{{^isVisible}}
        {{name}}
        {{/isVisible}}-->
        </div>
    {{/result.characteristicGroups}}
    </div>
    <script>
        var result = {{{resultString}}};

         function startLoader(){
            document.getElementById("loader").style.display = "block";
        }
    </script>
</body>
</html>