<html>
    <head>
    <link rel="stylesheet" href="\stylesheets\style.css"/>
    <link rel="stylesheet" href="\stylesheets\bulma.css"/>


    </head>
    <body id="body">
        <nav class="navbar is-success" role="navigation" aria-label="main navigation">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                <a class="navbar-item " href="\">
                    Start a conf
                </a>
                <a class="navbar-item active" href="\testdu">
                    Test a DU
                </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="columns is-vcentered is-multiline">
                <div class="column is-full">
                    <h1 class="is-size-2">Test results</h1>
                </div>
                {{#first}}
                    <div class="config-details column is-full">
                        <div class="conf-details columns is-vcentered">
                            <div class="column is-one-fourth has-text-centered">
                                <p class="is-size-6">DU : </p>
                            </div>
                            <div class="column is-one-fourth is-nested">
                                <p class="is-size-4 overflow-wrap-anywhere">{{kbId}}</p>
                            </div>
                            <div class="column is-one-fourth has-text-centered">
                                <p class="is-size-6">DU version : </p>
                            </div>
                            <div class="column is-one-fourth is-nested">
                                <p class="is-size-4 overflow-wrap-anywhere">{{kbVersion}}</p>
                            </div>
                        </div>
                        <div class="conf-details columns is-vcentered">
                            <div class="column is-one-fourth has-text-centered">
                                <p class="is-size-6">Country : </p>
                            </div>
                            <div class="column is-one-fourth is-nested">
                                <p class="is-size-4 overflow-wrap-anywhere">{{country}}</p>
                            </div>
                            <div class="column is-one-fourth has-text-centered">
                                <p class="is-size-6">Language : </p>
                            </div>
                            <div class="column is-one-fourth is-nested">
                                <p class="is-size-4 overflow-wrap-anywhere">{{kbLang}}</p>
                            </div>
                        </div>
                    </div>
                {{/first}}
                <div class="column is-full is-overflow-x">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Configuration status</th>
                                {{#first}}
                                    {{#characteristicGroups}}
                                        {{#isVisible}}
                                            {{#characteristics}}
                                                {{#isVisible}}
                                                    {{#values}}
                                                        {{#isAssigned}}
                                                            <th>{{name}}</th>
                                                        {{/isAssigned}}
                                                    {{/values}}
                                                {{/isVisible}}
                                            {{/characteristics}}
                                        {{/isVisible}}
                                {{/characteristicGroups}}
                                {{/first}}
                            </tr>
                        </thead>
                    
                        <tbody>
                            {{#result.confs}}
                            <tr>
                                {{#isComplete}}
                                    <td class="has-text-success">Complete</td>
                                {{/isComplete}}
                                {{^isComplete}}
                                    <td class="has-text-warning">Incomplete</td>
                                {{/isComplete}}
                                {{#characteristicGroups}}
                                    {{#isVisible}}
                                        {{#characteristics}}
                                            {{#isVisible}}
                                                {{#values}}
                                                    {{#isAssigned}}
                                                        <td>{{value}}</td>
                                                    {{/isAssigned}}
                                                {{/values}}
                                            {{/isVisible}}
                                        {{/characteristics}}
                                    {{/isVisible}}
                               {{/characteristicGroups}}
                                
                            </tr>
                            {{/result.confs}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            console.log({{{resultString}}});
            function display(e){
                var conf = e.parentElement.parentElement.parentElement.parentElement.querySelector(".conf-auto-completed");
                (conf.style.display=='block')? conf.style.display='none': conf.style.display='block';
            }
        </script>
    </body>
</html>

