.isAssigned {
    color: green;
}

.isDefault {
    color: blue;
}

.filter {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.filter .icon {
    font-size: 100px;
    position: absolute;
    top: 46vh;
    left: 49vw;
    color: white;
}

.overflow-wrap-anywhere {
    overflow-wrap: anywhere;
}

.radio-list .radio {
    display: block;
}

.radio-list .radio+.radio {
    margin-left: 0;
    margin-top: .5em;
}

#startConf {
    position: fixed;
    top: 50%;
    right: 10%;
}

.has-margin-top-24 {
    margin-top: 24px !important;
}

.page-loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
}

.page-loader.is-active {
    display: block;
}

.page-loader i {
    position: fixed;
    top: 45vh;
    left: 45vw;
    font-size: 100px;
    color: white;
}

.offer-name {
    cursor: pointer;
}

.offer-name:hover {
    color: blue;
}

.offer-dus {
    display: none;
}

.offer-dus.active {
    display: block;
}

.navbar-item.active {
    border-bottom: white 5px solid;
    background-color: #3abb67ff;
}

.conf-auto-completed {
    display: none;
}

.is-overflow-x {
    overflow-x: auto;
}